<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
This page consists of Data science tools and eco system covering how to use Mark down and code cells
<ul>
    <li>Unlisted items 
    <li>Listed items
    <li>Headers
    <li>Tables
    <li>Code cells with Arithmetic operations
</ul>

Some of the popular languages that Data Scientists use are:
<Ol>
<li>Python
<li>R
<li>Java
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas
<li>NumPy
<li>SciPy
<li>Matplotlib
</ol>

|Data Science Tools|
|------------------|
|Apache Spark|
|Apache Flink|
|Tensorflow.Js|

<h3>Below are a few examples of evaluating arithmetic expressions in Python <h3>

In [5]:
##This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

<H2>Author</H2>
Lagisetty Venkata Mallikarjuna